<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#167bea">
    <!-- Favicon -->
    <link rel="icon" href="assets/dist/img/Favicon.png">
    <title>Data Room Eksternal</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="assets/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="assets/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="assets/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" href="assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-primary">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>



            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <!-- <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a> -->
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="assets/dist/img/Favicon.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">Data Room</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Subdiana</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a href="dashboard.html" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            
                            <a href="#" class="nav-link">
                                
                                <i class="nav-icon fas fa-briefcase"></i>
                                <p>
                                    Case
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="case.html" class="nav-link">
                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>List Case</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="form-case.html" class="nav-link">
                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Case</p>
                                    </a>
                                </li>
        
                            </ul>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="document.html" class="nav-link ">
                                <i class="nav-icon fas fa-file-alt"></i>
                                <p>Document</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="insight.html" class="nav-link ">
                                <i class="nav-icon fas fa-lightbulb"></i>
                                <p>Insight</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="advisor.html" class="nav-link ">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>Advisor</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="calendar.html" class="nav-link ">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>Calendar</p>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item has-treeview">
                            
                            <a href="#" class="nav-link">
                                
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Previledge
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>User</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                       
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Role Access</p>
                                    </a>
                                </li>
        
                            </ul>
                        </li> -->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Form Case</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="case.html">Case</a></li>
                                <li class="breadcrumb-item active">Form Case</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->

                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-12 connectedSortable">
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="card">
                                <div class="card-header text-right">
                                    <!-- <h3 class="card-title"></h3> -->
                                        <!-- <a href="form-case.html" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add Case</a> -->
                                        <!-- <a href="form-case.html" class="btn btn-primary btn-sm"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add Case</a> -->
                                </div><!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Subject</label>
                                                    <input type="text" class="form-control" placeholder="Please input yor subject">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" placeholder="Please input yor description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Area Of Practice</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected">Dsipute</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Client name</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected">Company/Group</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Assignee</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Assigned to</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="case">Start date</label>
                                                    <div class="input-group date" id="str" data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input" data-target="#str"
                                                            data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy-mm-dd" data-mask />
                                                        <div class="input-group-append" data-target="#str" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="case">Due date</label>
                                                    <div class="input-group date" id="end" data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input" data-target="#end"
                                                            data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy-mm-dd" data-mask />
                                                        <div class="input-group-append" data-target="#end" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Notify me before</label>
                                                    <input type="text" class="form-control" placeholder="1 Days">
                                                    <small class="text-danger">Note: Reminder pop up and email</small>
                                                </div>
                                                <div class="form-group">
                                                    <label>Case Priority</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected">High</option>
                                                        <option >Medium</option>
                                                        <option >Low</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Case file/ref</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Case Stage</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                </div><!-- /.card-body -->
                                <div class="card-footer text-right">
                                    <a href="case.html"><button type="button" class="btn btn-default">Close</button></a>
                                    <a href="case.html"><button type="button" class="btn btn-primary">Save</button></a>
                                </div>
                            </div>
                            <!-- /.card -->

                        </section>
                        <!-- /.Left col -->
                        <!-- /.modal -->
                        <!-- right col -->
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="#">dataroom.com</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 0.1
            </div>
        </footer>

    </div>
    <!-- jQuery -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterangepicker -->
    <script src="assets/plugins/moment/moment.min.js"></script>
    <script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="assets/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="assets/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="assets/dist/js/demo.js"></script>
    <script src="assets/dist/js/sweetalert.js"></script>
    <!-- <script src="assets/dist/js/axios.min.js"></script> -->
    <!-- <script src="assets/external/Logout.js"></script> -->
    <!-- DataTables -->
    <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
        //Date range picker
        $('#str').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        //Date range picker
        $('#end').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('yyyy-mm-dd', { 'placeholder': 'yyyy-mm-dd' })
        //Money Euro
        $('[data-mask]').inputmask()
    </script>
</body>

</html>