<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#167bea">
    <!-- Favicon -->
    <link rel="icon" href="assets/dist/img/Favicon.png">

    <!-- Font & Icon -->
    <link rel="stylesheet" href="assets/login/font/inter/inter.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/plugins/fontawesome-free/css/all.min.css">
    <link href="assets/login/plugins/material-design-icons-iconfont/material-design-icons.min.css"
        rel="stylesheet">
    <!-- Plugins -->
    <!-- Main Style -->
    <link rel="stylesheet" href="assets/login/plugins/simplebar/simplebar.min.css">
    <link rel="stylesheet" href="assets/login/dist/css/style.min.css" id="main-css">
    <link rel="stylesheet" href="assets/login/dist/css/sidebar-gray.min.css" id="theme-css">
    <!-- <link rel="stylesheet" href="assets/login/dist/css/sweetalert.css" id="theme-css"> -->

    <title>Data Room</title>
</head>

<body class="login-page">

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-7 col-xl-8 d-none d-lg-block">
                <img src="assets/login/dist/img/auth.svg" alt="" class="img-fluid w-100">
            </div>
            <div class="col-lg-5 col-xl-4 d-flex justify-content-center align-items-start">
                <div class="card mb-3">
                    <div class="card-body p-4">
                        <h3>Log In</h3>
                        <p class="font-weight-light text-secondary">Welcome! Please login to continue.</p>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label class="font-size-sm" for="InputEmail">Email address</label>
                                <input type="email" class="form-control bg-gray-200 border-gray-200" id="email"
                                    placeholder="yourname@yourmail.com" autocomplete="off">
                                <small class="text-danger" id="email_notice" style="display: none;">Mohon isi alamat
                                    email anda terlebih dahulu !</small>
                                <small class="text-danger" id="email_notice2" style="display: none;">Alamat email harus
                                    berisikan email yourname@yourmail.com</small>
                            </div>
                            <div class="form-group">
                                <label class="font-size-sm" for="InputPassword">Password</label>
                                <input type="password" class="form-control bg-gray-200 border-gray-200" id="password"
                                    placeholder="Enter your password">
                                <small class="text-danger" id="password_notice" style="display: none;">Mohon isi
                                    password anda terlebih dahulu !</small>
                            </div>
                            <!-- <div class="form-group">
                                <div class="text-center">
                                    <div class="captcha">
                                        <span>{!! captcha_img() !!}</span>
                                        <button type="button" class="btn btn-warning btn-sm"
                                            onclick="refreshCaptcha();"><i class="fas fa-sync"></i></button>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="form-group">
                                <input type="text" class="form-control bg-gray-200 border-gray-200 text-center"
                                    id="captcha" placeholder="Enter captcha">
                                <div class="text-center">
                                    <small class="text-danger" id="captcha_notice" style="display: none;">Captcha tidak
                                        boleh kosong !</small>
                                </div>
                            </div> -->
                            <div class="form-group d-flex justify-content-between align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked id="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                </div>
                                <a href="#"
                                    class="text-primary text-decoration-underline small">Forgot password ?</a>
                            </div>
                            <a href="dashboard.html"><button type="button" class="btn btn-primary btn-block">LOG
                                IN</button></a>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Plugins -->
    <!-- JS plugins goes here -->

</body>
    <!-- jQuery -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- <script src="assets/dist/js/axios.min.js"></script> -->
    <!-- <script src="assets/dist/js/sweetalert.js"></script> -->
    <!-- <script src="assets/external/Login.js"></script> -->

</html>